* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

/* ----------Header Styles ---------- */
#header {
  background-color: blueviolet;
  grid-area: 1 / 2 / 2 / 3;
}

.header__top,
.header__bottom {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 75px;
}

.header__top-left {
  background-color: aquamarine;
  display: grid;
}

.header__top-left > input {
  appearance: none;
}

.header__top-right {
  background-color: lightcoral;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.header__bottom-left {
  background-color: lightpink;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
}

.header__bottom-left-avatar {
  width: auto;
}

.header__bottom-right {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.header__top-left > *,
.header__top-right > *,
.header__bottom-left > *,
.header__bottom-right > * {
  align-self: center;
}

/* --------- Sidebar Styles --------- */
#sidebar {
  background-color: bisque;
  grid-area: 1 / 1 / 3 / 2;
}

.sidebar__container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 30px;
}

.sidebar__nav-links,
.sidebar__help-links {
  display: grid;
}

/* -------- Main-Content Styles ---------- */
#main-content {
  background-color: cadetblue;
  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  grid-template-columns: 1fr auto;
}

.main-content__projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.main-content__project {
  background-color: #ddd;
  border: 1px solid lightgray;

  display: grid;
  grid-template-rows: auto auto 1fr;
}

.main-content__project-icons {
  align-self: end;
  justify-self: end;
}

.main-content__info-announcement-grid {
  background-color: #ddd;
}

.main-content__info-announce:not(:last-child) {
  border-bottom: 1px solid gray;
}

.main-content__info-trending {
  background-color: azure;
}

.main-content__info-user {
  display: grid;
  grid-template-columns: auto 1fr;
}

.main-content__info-user > * {
  align-self: center;
}
